Prince Kumar Sharma, PRN:25070123086

In [5]:
#Exp2: Study of list in python
list1=["apple","banana","orange"]
list2=[2,2.3,"prince",True]
list3=["apple","banana","apple","cherry"]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'orange']
[2, 2.3, 'prince', True]
['apple', 'banana', 'apple', 'cherry']

In [10]:
list4=["apple","banana","orange","cherry","mango","kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

orange
orange
['orange', 'cherry', 'mango']
['apple', 'banana', 'orange', 'cherry']
['orange', 'cherry', 'mango', 'kiwi']

In [11]:
list5=["apple","orange","mango"]
list5[1]="cherry"
print(list5)

['apple', 'cherry', 'mango']

In [12]:
list6=["apple","orange","cherry"]
list6.append("mango")
print(list6)

['apple', 'orange', 'cherry', 'mango']

In [16]:
list7=["apple","orange","cherry"]
list7.insert(1,"mango")
print(list7)

['apple', 'mango', 'orange', 'cherry']

In [18]:
list8=["apple","banana","orange"]
list9=["mango","kiwi"]
list8.extend(list9)
print(list8)

['apple', 'banana', 'orange', 'mango', 'kiwi']

In [31]:
marks=[90,82,66,76,33]
print("Maximun marks:",max(marks))
print("Minimum marks:",min(marks))
print("Total No. of Students:",len(marks))
print("Sum of marks:",sum(marks))
print("Average marks:",sum(marks)/len(marks))
marks.sort()
print("Ascending order of marks:",marks)

Maximun marks: 90
Minimum marks: 33
Total No. of Students: 5
Sum of marks: 347
Average marks: 69.4
Ascending order of marks: [33, 66, 76, 82, 90]

In [34]:
grocery = ["carrot","potato","spinach","eggplant","cheese"]
grocery.append("milk")
grocery.remove("potato")
grocery.remove("carrot")
print(grocery)

['spinach', 'eggplant', 'cheese', 'milk']